footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    /* padding: 1em 0; */
}
.table_footer{
    background-color: #E5E8E8;
    width: 100%;
}

.logo_footer{
    text-align: center;
    margin-left: 3rem;
    width: 100px;
}
.td_logo_footer{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.td_copy{
    text-align: center;
}
.spanTory{
    color: black;
    font-weight: bolder;
}
.td_informacion{
    text-align: center;
}
.texto_copy{
    margin-bottom: 0;
}
.icono_footer{
    display: flex;
    justify-content: space-around;
}
.icono_footer i{
    background-color: #33383b;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: background-color 0.3s ease;
}
.icono_footer i:hover{
    background-color: #64aad6;
}
.telefono_footer{
    margin-bottom: 0;
}
.correo_footer{
    margin-bottom: 0;
}
