.desplegable_acciones{
    margin-right: 10rem;
    margin-top: 20rem;
    box-shadow: 1px 4px 15px 0.6px;
}
.acciones_boton{
    /* margin-left: 10rem; */
    /* background-color: black; */
    /* border: solid 5px black; */
    height: 8rem;
    width: 13rem;
}

